.btn {
  &.--sm {
    --font-size: 14px;
    --padding-y: 12px;
    --padding-x: 24px;
    --min-height: 48px;
  }

  &.--xs {
    --font-size: 12px;
    --padding-y: 12px;
    --padding-x: 24px;
    --min-height: 40px;
    --svg-size: 16px;
  }

  @include media-breakpoint-up(sm) {
    min-width: 220px;
  }
}
