$primary-100: #58f0dc;
$primary-200: #26dbc9;
$primary-300: #0dbfb0;
$primary-400: #079a91;
$primary: $primary-400;

$gray: #a9a9b2;
$gray-200: #ebebeb;

$white: #fff;

$black: #081828;
$black-400: #1d1d1b;

$danger: #e21c3d;
$danger-200: #f9dede;

$success: #48a463;
$success-200: #e7f4e4;

$warning: #fdb81e;
$warning-200: #fff1d2;

$high-price: #f2994a66;
$middle-price: #f2c94c66;
$low-price: #7dcea066;

$disabled-primary: #0dbfb057;
