@use "settings/s-colors" as colors;

.i-hotel-result {
  --border-radius: 16px;

  border-radius: var(--border-radius);

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.i-hotel-result__img {
  max-width: 290px;
  width: 100%;
  height: 275px;
  flex-shrink: 0;

  img {
    border-radius: var(--border-radius);
  }

  @include media-breakpoint-down(lg) {
    max-width: 100%;
    height: 320px;
  }
}

.i-hotel-result__price {
  line-height: 28px;
}

.i-hotel-result__addon {
  .icon.--colored path {
    fill: none;
  }
}
