{% if props.title %}
  <span class="c-overline d-inline-flex gap-1 align-items-center u-fz-sm px-1 u-fw-500 u-color-white u-bg-primary-300 u-rounded-xs">
    <span class="c-overline__title">{{ props.title }}</span>
  </span>
{% endif %}
