<header class="m-header">

  <div class="container">
    <div class="m-header__body d-flex justify-content-between align-items-center">

      {% include "@Components/main-header/main-header-logo/main-header-logo.twig" with {props: {
        img: {
          src: base_path ~ "images/svg/logo.svg",
          width: 136,
          height: 42,
          alt: "logo",
        },
      }} %}

      {% include "@Components/main-nav/main-nav.twig" with {props: props} %}

      <div class="m-header__side-menu ms-auto ms-lg-0 d-flex align-items-center gap-1">

        {% include "@Components/button/button-nav-opener.twig" %}

      </div>

    </div>

  </div>

  {% include "@Components/overlay/overlay.twig" with {props: {
    extra_class: "c-overlay-header",
  }} %}

</header>
